{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Lista samochodów</h1>
    <div class="car-list">
        {% for car in cars %}
        <div class="car-item">
            <img src="{{ car.image.url }}" alt="{{ car.brand }} {{ car.model }}" class="car-image">
            <h3>{{ car.brand }} {{ car.model }}</h3>
            <p>Rok produkcji: {{ car.year }}</p>
            <p>Cena: {{ car.price }} zł / 24h</p>
            <p>Rodzaj paliwa: {{ car.get_fuel_type_display }}</p>
            <div class="button-group">
                <a href="{% url 'rent_car' car.id %}" class="rent-button">Wypożycz</a>
                {% if user.is_staff %}
                <a href="{% url 'edit_car' car.id %}" class="admin-button">Edytuj</a>
                <a href="{% url 'delete_car' car.id %}" class="admin-button">Usuń</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
